# Binaries and Executables
/bin/
/atk-tool
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.test
*.out
*.prof

# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

result
result-*
/.direnv
atk-tool-plus
